.content-box {
  background: rgb(199, 107, 107);
  background-image: url("../images/dmbg.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: center;
  background-position-y: 50%;
  opacity: 0.5;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  margin-top: -18rem;
  z-index: 3;
}

.circle-img {
  border-radius: 50%;
  width: 20rem;
}
