body {
  font-family: "Bebas Neue", cursive;
}

.top-content {
  background-image: url("./images/topimg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.large-txt {
  font-size: 7em;
  color: #ee3945;
  line-height: 1.5em;
}

@media only screen and (max-width: 970px) {
  .large-txt {
    font-size: 6em;
    color: #ee3945;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 850px) {
  .large-txt {
    font-size: 5rem;
    color: #ee3945;
  }
}

@media only screen and (max-width: 720px) {
  .large-txt {
    font-size: 4rem;
    color: #ee3945;
  }
}

@media only screen and (max-width: 600px) {
  .large-txt {
    font-size: 3rem;
    color: #ee3945;
  }
}

@media only screen and (max-width: 475px) {
  .large-txt {
    font-size: 2.5rem;
    color: #ee3945;
  }
}

@media only screen and (max-width: 420px) {
  .large-txt {
    font-size: 2rem;
    color: #ee3945;
  }
}

@media only screen and (max-width: 340px) {
  .large-txt {
    font-size: 1.5rem;
    color: #ee3945;
  }
}

#results {
  color: black;
  margin-top: -10px;
  margin-bottom: 10px;
}

.fade-in-text {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
